body {
  background-image: linear-gradient(
    to bottom,
    rgb(77, 90, 231),
    rgb(135, 126, 255),
    rgb(165, 133, 245),
    rgb(190, 128, 235),
    rgb(223, 126, 223),
    rgb(206, 107, 168),
    rgb(184, 113, 142),
    rgb(179, 110, 117),
    rgb(207, 134, 105),
    rgb(194, 157, 101),
    rgb(233, 208, 97),
    rgb(211, 211, 117)
  );
}

#wrapper {
  position: absolute;
  right: 0;
  top: 100px;
  left: 384px;
  width: 1152px;
  height: 756px;
  background-image: url("wrap2.png");
  border-radius: 20px;
  opacity: 0.95;
}

.main {
  position: relative;
  margin-left: 126px;
  margin-top: 50px;
  width: 900px;
  height: 600px;
}

#game {
  display: block;
}

#info {
  display: none;
}

#info td {
  padding: 0;
}

#info table {
  border-spacing: 0;
}

#top {
  background-color: "#808080";
  opacity: 0.4;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 450;
  height: 600;
}

#top:hover {
  opacity: 1;
}

#rules {
  background-color: "#808080";
  opacity: 0.4;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 450;
  height: 600;
  font-size: 25px;
}

#rules:hover {
  opacity: 1;
}

.btns {
  position: relative;
  margin-left: 119px;
  margin-top: 30px;
  margin-right: 0;
  width: 950px;
  height: 70px;
  padding: 0;
}

.btn {
  /* width: calc(25% - 3px);
  padding-left: 0;
  padding-right: 0; */
  color: #000000;
  background-color: rgb(180, 110, 247);
  border: 2px solid #000000;
  position: relative;
  font-size: 14px;
  letter-spacing: 0.3em;
  font-family: "Montserrat", sans-serif;
  padding: 17px 34px 17px 39px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

#gen {
  width: 100%;
  font-size: 25px;
}

#gen td {
  width: 50%;
  text-align: center;
}
